{{ template "base" .}}
{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>this is home page</h1>
      <p>and this is paragraph</p>
      <p>i want to become a BackEnd Dev</p>
    </div>
  </div>
</div>
{{ end }}
